<<<<<<< HEAD
<h1>Tweet</h1>

<%= @tweet.content %>

<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>

<form action="/tweets/<%= @tweet.id %>/delete" method="POST">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" id="Delete Tweet">
</form>
=======

>>>>>>> 8c62d3b1c3077f382efc1ad2aaf18953a0be25bf
